<div class="modal-header">
  <h4 class="modal-title pull-left">{{item.volumeInfo.title}}</h4>
   
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img
      [src]="item.volumeInfo.imageLinks.thumbnail"
      alt="{{ item.volumeInfo.subtitle }}"
      class="img-responsive mr-1"
      style="max-height: 300px; max-width: 150px;">
  <strong>
    {{item.volumeInfo.description}}
  </strong>
</div>
<div class="modal-footer">
  <div class="row">
    <button type="button"
      class="btn btn-default mr-2"
      (click)="onWish()">
        <i class="fa fa-list-alt fa-2x myIcon" [ngStyle]="{color:isToReadColor}" aria-hidden="true"></i>      
    </button>
    <button type="button"
      class="btn btn-default"
      (click)="onRead()">
        <i class="fa fa-check-circle fa-2x myIcon" [ngStyle]="{color:isReadColor}" aria-hidden="true"></i>      
    </button>
  </div>
  
</div>