<div class="container mt-3">
  <form class="form-inline" >
    <div class="form-group" >    
      <input type="text" class="form-control mr-1" id="searchTerm" [(ngModel)]="searchTerm" name="searchTerm" >
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
  <h3>Books I have read</h3>
  <div class="books" *ngIf = "booksHaveRead.length>0">
    <app-my-book [book]="book" *ngFor="let book of booksHaveRead">

    </app-my-book> 
  </div>

  <pagination *ngIf = "booksHaveRead.length>0" class="d-flex justify-content-center" [totalItems]= "pagination.totalItems"
  [itemsPerPage]= "pagination.itemsPerPage"
  [(ngModel)]= "pagination.currentPage"
  (pageChanged)= "pageChanged($event)" >
  </pagination>
  
</div>