<div class="row mb-2">
  <div class="col-sm-9">
    <h4 class="list-group-item-heading">{{ item.volumeInfo.title}}</h4>
    <!-- <p class="list-group-item-text">
      {{ (item.volumeInfo.description.length > 100) ? (item.volumeInfo.description | slice:0:100)+'..':
       (item.volumeInfo.description) }}</p> -->

       <p *ngIf = "item.volumeInfo.description != null" class="list-group-item-text">
        {{(item.volumeInfo.description.length > 200)?
          (item.volumeInfo.description | slice:0:200)+'..':
          (item.volumeInfo.description)}}</p>
  </div>
  <span class="col-sm-3" style="display: flex; justify-content: center;">
    <img
      [src]="item.volumeInfo.imageLinks.smallThumbnail"
      alt="{{ item.volumeInfo.subtitle }}"
      class="img-responsive mr-1"
      style="max-height: 100px; max-width: 75px;">   
      <div>
        <p (click)="onWish()"><i class="fa fa-list-alt fa-2x myIcon" [ngStyle]="{color:isToReadColor}" aria-hidden="true"></i></p>
        <p (click)="onRead()"><i class="fa fa-check-circle fa-2x myIcon" [ngStyle]="{color:isReadColor}" aria-hidden="true"></i></p>
      </div>   
  </span>
  
</div>